/** RTL Navbar **/

.navbar {
    padding: 15px 10px;
    background: #157ed2;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #157ed2;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #157ed2;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#157ed2;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #000;
    font-size: 17px;
    font-weight: 600;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #000;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.search-cat-box select {
    position: relative;
    width: 110px;
    height: 56px;
    color: #a0a0a0;
    font-size: 14px;
    border: none;
    outline: 0;
    font-size: 14px;
    padding: 0 5px 0 3px;
    margin: 0;
    -webkit-border-radius: 999px 0 0 999px;
    -moz-border-radius: 999px 0 0 999px;
    cursor: pointer;
    border-right: 1px solid #e0e0e0;
    text-transform: capitalize;
    display: inline-block;
    line-height: 56px;
    background: #f6f6f6;
    border-radius: 0px 10px 10px 0px;
}
@media (max-width: 400px){
.control-group {
    text-align: left;
}
}
@media (max-width: 576px){
.search-cat-box select {
    width: 65px;
    height: 39px;
    padding: 0 5px 0 10px;
    z-index: 99;
}
}
.main-header .top-search-holder .search-area .search-field {
    border: medium none;
    padding: 15px 13px 15px;
    width: 79%;
    font-family: Barlow,sans-serif;
    font-size: 14px;
    background: #fff;
}
@media(max-width:559px){
    #search-xs{
    display: none;
    }
}
@media(min-width:560px){
    #search-sm{
    display: none;
    }
}
@media (max-width:319px){
    .logo-img {
        width: 60px;
        height: 30px;
        z-index: 11;
        margin-left: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
    .btn-dark{
        float: left;
        margin-left: 0 !important;
    }
    .search-cat-box {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .control-group {
        text-align: left;
    }
    .search-cat-box .btn-default {
        border-radius: 10px 0px 0px 10px;
        display: inline-block;
        float: right;
        margin: 0;
        padding: 14px 25px 14px;
        text-align: center;
        position: relative;
        background:#fdd922;
        border-style: none;
        cursor: pointer;
        padding: 9px 16px 10px;
        height: 39px;
    }
    .search-field {
        width: 45%!important;
        padding: 10px 10px 9px 10px;
        height: 39px;
        border: medium none;
    }
}
@media (max-width: 480px) and (min-width: 320px){
.search-field {
    width: 59%!important;
    padding: 10px 10px 9px 10px;
    height: 39px;
    border: medium none;
    z-index: 99;
}
.hot-deals{
    margin-top: 25% !important;
}
.sign-in-page{
    margin-top: 25%;
}
.btn-dark{
    float: left;
    margin-left: 0 !important;
}
.search-cat-box .btn-default {
    border-radius: 10px 0px 0px 10px;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 14px 25px 14px;
    text-align: center;
    position: relative;
    background: #fdd922;
    border-style: none;
    cursor: pointer;
    padding: 9px 16px 10px;
    height: 39px;
    z-index: 99;
}
.logo-img{
    width: 60px;
    height: 30px;
    z-index: 11;
    margin-left: 20px;
    object-fit: contain;
    margin-left: auto;
    margin-right: 10px;
}
.search-cat-box{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
}
@media (max-width: 991px) and (min-width: 481px){
    .logo-img{
        width: 100px;
        height: 60px;
        z-index: 11;
        margin-left: 20px;
        object-fit: contain;
        margin-left: auto;
        margin-right: 10px;
    }
    .btn-dark{
        float: left;
        margin-left: 0 !important;
    }
    .search-field {
        width: 55%!important;
        padding: 10px 10px 9px 10px;
        height: 39px;
        border: medium none;
    }
    .search-cat-box .btn-default {
        border-radius: 10px 0px 0px 10px;
        display: inline-block;
        float: right;
        margin: 0;
        padding: 14px 25px 14px;
        text-align: center;
        position: relative;
        background: #fdd922;
        border-style: none;
        cursor: pointer;
        padding: 9px 16px 10px;
        height: 39px;
    }
    .search-cat-box{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .search-cat-box select {
        width: 65px;
        height: 39px;
        padding: 0 5px 0 10px;
        z-index: 99;
    }
}
@media(min-width:991px){
    #mobile-nav{
        display: none !important;
    }
    .header-nav-smallscreen, .list-unstyled-one {
        display: none;
    }
    .header-nav-screen {
        display: block;
    }
}
.top-bar {
    padding: 0;
    font-size: 14px;
    background: #157ed2;
}
.top-bar .cnt-account {
    float: left;
    padding: 4px 0 5px;
    margin-right: 16px;
}
.cnt-block {
    float: right;
}
.top-bar .cnt-account ul {
    margin: 0;
}

.top-bar .cnt-account ul>li:first-child {
    border-left: none;
    border: none;
}
.top-bar .cnt-account ul>li {
    display: inline-block;
    line-height: 12px;
    padding: 3px 7px 3px 12px;
    border-left: 1px solid hsla(0,0%,100%,.2);
}
.dropdown.notifications-menu a i {
    color: #fdd922;
}
.bell-badge {
    position: absolute;
    top: -2px;
    right: 10px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    font-size: 9px;
    padding: 2px 4px;
    line-height: .9;
    background-color: rgba(255,0,0,.9);
}
@media(max-width:991px){
    .bell-badge {
        position: relative;
        top: -15px;
    }
    .top-bar{
        display: none !important;
    }
    .header-nav{
        display: none;
    }
    .main-header{
        display: none;
    }
}
.top-bar .cnt-account ul>li .dropdown-toggle {
    padding: 0 8px;
}
.navbar-light .navbar-nav .nav-link {
    color:#fff !important;
}
.top-bar .cnt-account ul>li a {
    color:  rgba(255,255,255,.8);
    padding: 0;
    font-weight: 400;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    letter-spacing: .2px;
}
.top-bar .cnt-block .list-inline {
    margin: 0;
}
#currency {
    border-right: 1px solid rgba(255,255,255,.3);
    line-height: 12px;
    margin-right: 10px;
}
.cnt-block select {
    position: relative;
    width: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    color: rgba(255,255,255,.8);
    border: none;
    outline: 0;
    font-size: 14px;
    padding: 5px 0;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
}
@media (max-width: 1300px) and (min-width: 1200px){
.top-bar {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}

}

/* main header  */
.main-header {
    padding: 10px 0 0 0;
    background:  #157ed2;
}
.main-header .logo-holder {
    margin-top: 5px;
}
.logo {
    margin-left: 18px;
}
.main-header .top-search-holder .search-area {
    margin: 11px 0 0;
}
.control-group.search-cat-box {
    margin-top: 6px;
}
.main-header .top-search-holder .search-area .search-field {
    border: medium none;
    padding: 15px 13px 15px;
    width: 79%;
    font-family: Barlow,sans-serif;
    font-size: 14px;
    background: #fff;
}
@media (max-width: 1199px) and (min-width: 992px){
.main-header .logo-holder {
    margin-top: 11px;
}
.main-header .logo-holder {
    text-align: center;
}
.top-search-holder {
    padding: 0 15px;
}
.control-group {
    position: relative;
}
.main-header .top-search-holder .search-area .search-field {
    width: 101%;
    margin-left: -1px;
    border-radius: 0;

}
}
@media (max-width: 1250px){
.main-header .top-search-holder .search-area .search-field {
    width: 66%;
}
.top-cart-row .dropdown-cart-one {
    right: 0;
}
}

@media (max-width: 1200px) and (min-width: 1031px){
.main-header .top-search-holder .search-area .btn-default {
    height: 37px;
}
}
@media (max-width: 1500px) and (min-width: 1212px){
.main-header .top-search-holder .search-area .search-field {
    width: 70%;
}
}
.main-header .top-search-holder .search-area .btn-default {
    border-radius: 10px 0px 0px 10px;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 14px 25px 14px;
    text-align: center;
    position: relative;
    background: #fdd922;
    border-style: none;
    cursor: pointer;
    height: 56px;
}
.main-header .top-search-holder .search-area .btn-default i {
    color: #333;
    font-family: fontawesome;
    font-size: 18px;
}
.top-cart-row {
    padding-top: 8px;
}

.top-cart-row .dropdown-cart {
    float: right;
    margin-right: 20px;
}
.dropdown-cart-one {
    margin-top: 1px;
}
.top-cart-row .dropdown-cart .lnk-cart {
    padding: 0;
    color: #fff;
    -webkit-appearance: caret;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner {
    position: relative;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket {
    padding: 0;
    overflow: hidden;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket:before {
    content: '';
    display: inline-block;
    text-align: center;
    font-weight: 400;
    background: url(../sidebar/images/icon-cart.png) no-repeat top left;
    padding: 15px 0;
    border-radius: 5px;
    width: 50px;
    height: 44px;
    background-size: 44px 40px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket-item-count {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 7px;
    width: 14px;
    background: #fdd922;
    color:#157ed2;
    font-size: 11px;
    text-align: center;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket {
    padding: 0 0 13px 5px;
    font-family: Barlow,sans-serif;
    letter-spacing: .2px;
    display: inline-block;
    font-size: 15px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .lbl {
    display: block;
    color:#fff;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .value {
    font-size: 22px;
    font-weight: 600;
}
.top-cart-row .dropdown-cart .dropdown-menu {
    border: none;
    border-radius: 5px;
    float: right;
    left: auto;
    min-width: 0;
    padding: 24px 22px;
    right: -1px;
    width: 350px;
}
.cart-row {
    margin-bottom: 15px;
}
.top-cart-row .dropdown-cart img {
    width: 100%;
}

.pro-img2 {
    position: relative;
    object-fit: scale-down;
    max-width: 100px;
    max-height: 80px;
    width: 100%;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .price {
    color: #0f6cb2;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .price {
    font-weight: 600;
}
.top-cart-row .dropdown-cart {
    float: right;
    margin-right: 20px;
}
.top-cart-row .dropdown-cart .lnk-cart {
    padding: 0;
    color: #fff;
    -webkit-appearance: caret;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner {
    position: relative;
}
.wallet {
    width: 50px;
    position: relative;
    top: -15px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket {
    padding: 0 0 13px 5px;
    font-family: Barlow,sans-serif;
    letter-spacing: .2px;
    display: inline-block;
    font-size: 15px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .lbl {
    display: block;
    color:#fff;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .value {
    font-size: 22px;
    font-weight: 600;
}
.dropdown.notifications-menu a i {
    color: #FDD922;
}
.notifications-menu .dropdown-menu {
    width: 325px;
}
.notiheadergrey {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid grey;
}
.notification-menu {
    max-height: 230px;
    overflow: auto;
}

.notiheaderlightgrey {
    background: #edf2fa;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
}
.padding5P {
    padding: 5px;
}
.top-cart-row{
    color: #fff;
    display: contents;
}

/* header nav  */
 .header-nav {
    background: #157ed2;
    border-top: 1px solid hsla(0,0%,100%,.2);
    border-radius: 0 0 0 200px;
    text-align: right;
}
 .header-nav .navbar-default {
    border: medium none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: rgba(0,0,0,0);
    margin: 0;
    min-height: auto;
}
.nav-bg-class {
    width: 100%;
    display: block;
}
.header-nav .navbar-default .navbar-collapse {
    padding: 0;
}

.yamm .collapse, .yamm .dropdown, .yamm .dropup, .yamm .nav {
    position: static;
    display: inline;
}

.navbar-collapse {
    z-index: 9999;
}
.nav-outer {
    padding-top: 8px;
    padding-bottom: 4px;
}
.navbar-nav {
    float: none;
}
.nav-outer ul li {
    display: inline-block;
}

@media (max-width: 1200px) and (min-width: 991px){
.navbar-nav li {
    width: auto !important;
}
.header-nav .navbar-default .navbar-collapse .navbar-nav li a {
    font-size: 16px;
}
}
@media (max-width: 1200px){
.navbar-nav li {
    float: none;
    width: 100%;
}
}
 .header-nav .navbar-default .navbar-collapse .navbar-nav li a {
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    color: #fff;
    font-family: Barlow,sans-serif;
    font-size: 18px;
    line-height: normal;
    padding: 12px 18px 12px;
    -webkit-transitio: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    font-weight: 500;
    letter-spacing: normal;
    position: relative;
    z-index: 99;
}
@media (min-width: 767px){
.Blog, .Images, .flyout-left>ul, .flyout-mega-wrap, .flyout-right ul, .mega-menu, li.drop-down ul {
    position: absolute;
    top: 51px;
    z-index: 999;
}
}
.playicon {
    color: #bbb;
    font-size: 11px!important;
}
.flyout-left ul>li>a, .flyout-mega-wrap, .flyout-right ul li a, .mega-menu {
    background-color: #fff;
    box-shadow: 0 7px 20px #80808066;
}
.mega-menu {
    left: 0;
    right: 0;
    padding: 15px;
    display: none;
    padding-top: 0;
    min-height: 100%;
}
h4.maintitle.mega-title {
    color: #111;
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding-top: 15px;
}
.w150 {
    width: 150px;
}
ul .description li {
    font-weight: 600;
}

ul.description li {
    line-height: 8px;
    display: block;
}
.nav-outer ul li {
    display: inline-block;
}
.mega-menu ul li a {
    line-height: 25px;
    font-size: 100%;
    display: block;
}
.f3efef {
    background: #f2f3f7;
}
 .header-nav .navbar-default .navbar-collapse .navbar-nav  li .menu-label3.new_menu {
    background: #ff5252;
}
.header-nav .navbar-default .navbar-collapse .navbar-nav  li .menu-label3 {
    position: absolute;
    text-transform: uppercase;
    top: -10px;
    display: inline;
    padding: 4px 8px;
    color: '#f5f5f5';
    font-size: 10px;
    font-family: 'Barlow', sans-serif;
    right: 20px;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
}
.header-nav .navbar-default .navbar-collapse .navbar-nav li .menu-label {
    position: absolute;
    text-transform: uppercase;
    top: -10px;
    display: inline;
    padding: 4px 6px;
    color: #fff;
    font-size: 10px;
    font-family: Barlow,sans-serif;
    right: 23px;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
}
.header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label6.new_menu {
    background: #fdb721;
}
.header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label4.new_menu {
    background: #fdd922;
}
 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label4.new_menu::after {
    border-color: #fdd922 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label3.new_menu::after {
    border-color: #ff5252 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label6.new_menu::after {
    border-color: #fdb721 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
 .header-nav .navbar-default .navbar-collapse .navbar-nav>li .menu-label:after {
    border-width: 6px 7px 0 6px;
    right: 18px;
    top: 90%;
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transitio: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: 0;
    z-index: 100;
}
.square2:before {
    content: "";
    position: absolute;
    top: -7px;
    right: 130px !important;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    z-index: 9999;
}


.dotbadge {
    font-size: 5px;
    position: relative;
    top: -11px !important;
    left: 4px;
}
.hot-deals .custom-carousel .owl-nav .owl-next, .hot-deals .custom-carousel .owl-nav .owl-prev {
    top: 2px;
}